/**
 * Administrative interface CSS. All front-end CSS should be handled by the theme styles.
 */
#varietal-image img {
	margin:0 10px 10px 0;	
}

img.paam-thumbnail {
	max-width:100px;
}

.column-thumbnail {width:105px;}

.paam-hr {
	border:none;
	border-bottom:2px dotted #CCC;
}